@media screen and (max-width: 576px) {
/* navbar part */
#header {

    list-style-type: none;
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
    
    overflow: hidden;
    width:100%;
   background-color:#007FEB;
   margin-bottom: 3%;;
  }
  #brand{
      padding: 0px 1px;
  }
  #logo{
      height: 60px;
      width:160px;

  }
  #logoimg{
    height: 30px;
    width:30px;

  }
 #cart{
       height:40px;
       width:60px;   
      }
      #profile{
          margin-top:3px;
        height:35px;
        width:55px;     
       }
    
      .menuitem {
        float: left;
        margin-top: auto;
      margin-bottom: auto;
      height: 100%;
      
      }
      
      .menuitem a {
    font-size: 25px;
    font-family: 'Berkshire Swash';
        display: block;
        color: white;
        height: 100%;
        text-align: center;
        padding: 9px 0px;
        margin-top: auto;
        margin-bottom: auto;
        text-decoration: none;
      }
    
      /* navbar part  end */


      
       /*  footer part */

       #footer{
        padding:2%;
    
    }
    .lastimg{
        height:90px;
        width:160px;
    }
      
.fa {
    
    height: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 4px 2px;
    
        
        transition: 1s;
      }
      #mail{
          width:15px;
          height:15px;
 
      }
      #map{
  
        width:15px;
        height:15px;
    }
    #tableb{
        color:white;
        font-size:12px;
        border-collapse: collapse;
    }
    
    

    


       
       /*  footer part end*/

       /* div 1 header */

       #student{
        background-image: url('homepageheader.png');
        border-color: 1px solid blue;
        border-radius: 50px;
        height:385px;
        width:95%;
        background-size: cover;
        
        margin-left: auto;
        margin-right: auto;
        
            }
        
        
#studentbox{
    PADDING:1%;background-color:hsl(0, 0%, 100% , 0.6);border-radius:40px;
    width:100%;
    position: relative;
    

    margin-bottom:1%;
top:208px;

}

#buttons{
  position:relative;

  float:right;
  top:180px;
  margin-bottom:5%;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  }
  #headervl{
      padding-left:1%;
      display: none;
  }
  
  #button1{
      background-color: white;
      border:2px solid #007FEB;
      color:#007FEB;
      height: 60px;;
      width:100%;
      margin-bottom:2px;
      border-radius: 10px;
      font-size:22px;

  transition: 1s;
  
  }
  #button1:hover{
      border-radius: 25px;
      background-color: #009999;
      border:2px solid #007FEB;
      color:white;
  
  }
  #button2{
    background-color: #007FEB;
    border:2px solid #007FEB;
    color:white;
    height:60px;
    width:100%;
    border-radius: 10px;
    font-size:22px;
    transition: 1s;

}
#button2:hover{
    background-color:#009999;
color:white;
border:2px solid #4da6ff;
border-radius: 25px;
}

.vl {
    border-left: 6px solid grey;
    height: 100px;
    
  }

              /* div 1 header end */



              
/* why to take this course div */
#tempdivheading{
    width:80%;margin-left: auto;margin-right: auto;
}
#tempdivpara{
    width:100%;overflow:visible;;font-size:15px;margin-left: auto;margin-right: auto;
    font-weight:normal;
}

#container2{
              
    margin-top:15%;
  }
  #card1{

    width:100%;
    font-weight: bold;;
}
#cardtempwidth{
      
    margin-top:1%;

}
#tempdiv{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10%;
}
#heading1{
    font-size:35px;
    text-align: center;
    color:black;

}
/* why to take this course div  end*/


/* div 3 start */
#legend1{
    text-align: center;
    height:150px;width:200px;
    margin-left:auto;
    margin-right:auto;

}
#container1{
    margin-top:40%;
}
#fieldset1{

    font-size:15px;
    margin-bottom:10%;
}
#tempimg1{
display:none;
}
.legendheading{
    position:relative;
    font-size:35px;
    top:0px;
   }
   .legendheading2{
   
text-align:center;
       font-size:35px;

   }
   .legendheading3{
    

    font-size:15px;
    margin-bottom:50px;
    text-align:center;
    font-weight:bold;
}
#table1{
    text-align:center;
    margin-bottom: 5%;;
}

/* div 3 end */




/* div 3 creator */

#fieldset2{
    margin-top:10%;
    width:95%;
}
#legend2{
    text-align: center;
    height:200px;width:150px;
    margin-left:auto;
    margin-right:auto;

}

.legendheading{
    position:relative;
    font-size:3vw;
    top:0px;
   }
   .legendheading4{
    
       font-size:6vw;
       text-align:center;
       font-weight:bold;
   }

#legendheadingdiv2{

    margin-bottom:5%;
}

   
   #tempimg2{
    height:250px;;width:25%;
    position:absolute;overflow:visible;top:-130px;
    left:5%;
    display:none;
   
}
#table2{
    width:100%;
    float:left;
    font-size:4vw;
    margin-left:auto;
    margin-right:auto;
}

/* div 3 creator end */

    }
       